// Define variables for your color scheme

// For example:

//Bootstrap colors commented out
// $red: darkred;
// $blue: #0D6EFD;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
// $gray: #0E0000;
// $light-gray: #F4F4F4;
// $red-velvet: #a52a2a;

/* Main colours */
$violet: #7E8BFB;
$violet-highlight: #aeb6ff;
$violet-muted: #8b97ff80;


$white: #FBFBFB;
$white-muted: #FFFFFFAD;

$grey-light: #35363C;
$grey-dark: #1E1F23;
$red: #EC1C24;
$green: #32F732;

/* Text colours */
$text-main: $white;
$text-muted: $white-muted;


/* Background Colours */
$background-card: $grey-light;
$background-main: $grey-dark;
