<div class="container">
  <div class="row align-items-center artist-info">
    <div class="col-md-2">
      <%#= image_tag @artist.photo, class: 'img-fluid artist-avatar' %>
    </div>
    <h3 class="col-md-4"><%#= @artist.name %> <%= @movies&.first&.director %></h3>
    <div class="col-md-auto"></div>
  </div>
  <h4 class="ms-3">Filmography:</h4>
  <div class="movies_card">
    <% @movies.each do |movie| %>
      <%= render 'shared/movie_card', movie: movie %>
    <% end %>
  </div>
</div>
