.dash_container {
  min-height: 100vh;
  background-color: $background-main;
  color: $text-main;
}

.empty_message {
  text-decoration: none;

  p {
    transition: ease 500ms;
    color: $text-muted;
  }

  :hover {
    p {
      color: $text-main
    }
  }
}

.gutter_line {
  border-right: Solid $violet-muted 1px;
}

.bookings {

  .upcoming_films, .today_films {
    padding-top: 1em;
    border-bottom: solid 1px $violet-muted;
    margin-bottom: 1em;
  }

  .past_film {
    padding-top: 1em;
    filter: opacity(50%);
  }

}

.follow-btn {
  margin-left: 8px;

  #follow-button {
    border-radius: 20px;
    padding: 5px 15px;
  }
  #follow-button:hover {
    background-color: $violet-muted;
    color: $white-muted;
  }
}
