.dash_container {
  min-height: 100vh;
  background-color: $background-main;
  color: $text-main;
}

.empty_message {
  text-decoration: none;

  p {
    transition: ease 500ms;
    color: $text-muted;
  }

  :hover {
    p {
      color: $text-main
    }
  }
}
