.cine-presentation {
  margin: 20px auto;
}

.all-seances {
  padding-left: 4rem;
}

.sous-titres-seances {
  margin-left: 10px;
}
.cine-seances {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 5px;
  margin: 15px 0;
  height: 200px;
  width: 50vw;
  background-color: $grey-light;
  border-radius: 5px;

  .movie-poster {
    grid-area: 1 / 1 / 6 / 2;
  }
  .seance-title {
    grid-area: 1 / 2 / 2 / 4;
    align-self: center;
    justify-self: start;
    margin: 3px 0 0 0;
  }
  .seance-booking {
    grid-area: 1 / 4 / 2 / 5;
    align-self: center;
    justify-self: end;
    margin-right: 8px;
    margin-top: 3px;
  }
  .seance-plot {
    grid-area: 2 / 2 / 4 / 5;
    align-self: center;
    justify-self: start;
  }
  .seance-plot.text-ellipsis--3{
    text-overflow: ellipsis;
    overflow: hidden;
    // Addition lines for 2 line or multiline ellipsis
    display: -webkit-box !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
  .seance-date {
    grid-area: 4 / 2 / 5 / 3;
    align-self: center;
    justify-self: start;
  }
  .seance-time {
    grid-area: 4 / 4 / 5 / 5;
    align-self: center;
    justify-self: end;
    margin-right: 8px;
  }
  .seance-lang {
    grid-area: 5 / 2 / 6 / 3;
    align-self: center;
    justify-self: start;
  }
  .seance-sub {
    grid-area: 5 / 4 / 6 / 5;
    align-self: center;
    justify-self: end;
    margin-right: 8px;
    color: $white;
  }

  img {
    object-fit: contain;
    object-position: left;
    height: 200px;
  }

  .card-title {
    margin: 8px 0;
  }

  .list-group {
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: lightgray;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: lightgray;
  }
  .list-group-item {
    background-color: $grey-light;
    color: $white;
  }

  .btn-booking {
    border-style: none;
    box-shadow: none;
    background-color: #1fe0;
    color: $violet;
  }
  .btn-booking:hover {
    color: $violet-muted;
  }

  .btn-remove-booking {
    border-style: none;
    box-shadow: none;
    background-color: #1fe0;
    color: $violet;
    margin-left: 10vw;

  }
  .btn-remove-booking:hover {
    color: $violet-muted;
  }
}
