<div class=container>
  <div class="movie-index">
    <div class="search-bar">
      <%= render 'shared/search_bar' %>
    </div>
    <div class="row mx-0 mt-4">
      <div class="col-8">
        <h1>Movies in theater:</h1>
        <div class="movies-index">
          <% @movies.each do |movie| %>
            <%# if movie.movie_shows.empty? == false %>
            <%= render 'shared/movie_card', movie: movie %>
            <%# end %>
          <% end %>
        </div>
      </div>
      <div class="col-4">

        <%# unless @movie_show.empty? %>
          <div
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
            id="map">
          </div>
        <%# end  %>
      </div>
    </div>
  </div>
</div>
<style>

#map {
    max-width: 100vw;
    height: 32vh;
    position: sticky;
    top: 3vh;
    margin-top: 10vh;
    }
    </style>
