<div class="container page-movie-index">
  <div class="search-bar">
    <%= render 'shared/search_bar' %>
  </div>
  <h1>Movies in theater:</h1>
  <div class="movies-index">
    <% @movies.each do |movie| %>
      <%# if movie.movie_shows.empty? == false %>
        <%= render 'shared/movie_card', movie: movie %>
      <%# end %>
    <% end %>
  </div>
</div>
