<h2>On Today</h2>
  <% bookings_today.each do |booking|  %>
    <%= render "bookings/card_booking", booking: booking %>
  <% end %>

<h2>Upcoming</h2>
  <% bookings.each do |booking|  %>
    <%= render "bookings/card_booking", booking: booking %>
  <% end %>
