<footer class="footer py-1">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <div class="footer_social-links text-muted d-flex justify-content-between">
          <%= link_to "https://github.com/midisport/catch_up_movies", class: "text-muted" do %>
            <i class="fa-brands fa-github"></i>
          <% end %>
          <%= link_to "#", class: "text-muted" do %>
            <i class="fa-brands fa-instagram"></i>
          <% end %>
          <%= link_to "#", class: "text-muted" do %>
            <i class="fa-brands fa-facebook"></i>
          <% end %>
        </div>
      </div>

      <div class="col-10 text-end">
        <div class="page-links">
          <%= link_to "#" do %>
            <span class="text-muted">Contact Us</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</footer>
