<div class="container dash_container" data-controller="tabs">
  <div class="row">
    <div class="col-10 mx-auto">
      <div class="dashboard_tabs">
        <div class="dashboard_tabs_options">
          <button id="watchlist-btn" class="tab_btn tab_btn-active" data-action="click->tabs#reveal" data-tabs-target="btn"><i class="fa-regular fa-bookmark"></i> Watchlist</button>
          <button id="bookings-btn" class="tab_btn" data-action="click->tabs#reveal" data-tabs-target="btn"><i class="fa-solid fa-ticket"></i>Showings</button>
          <button id="follows-btn" class="tab_btn" data-action="click->tabs#reveal" data-tabs-target="btn"><i class="fa-solid fa-address-book"></i>Friends</button>
        </div>
        <% if @user == current_user %>
          <button class="tab_edit_btn" data-action="click->tabs#edit" data-tabs-target="editBtn" >Edit Watchlist</button>
        <% end %>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-10 mx-auto">

      <div data-tabs-target="watchlist" class="watchlist">

        <%= render "interests/watchlist", user: @user, unseen_interests: @unseen_interests, seen_interests: @seen_interests %>
      </div>

      <div  data-tabs-target="follows" class="follows d-none">
        <%= render 'follows' %>
      </div>

      <div data-tabs-target="bookings" class="bookings d-none">
        <%= render "bookings/bookings", bookings_upcoming: @bookings_upcoming, bookings_today: @bookings_today, bookings_past: @bookings_past %>
      </div>

    </div>


  </div>
</div>
