<div class="container dash_container" data-controller="tabs">
  <div class="row">
    <div class="dashboard_tabs">
      <h1>Tableau de Bord :</h1>
      <button id="watchlist-btn" class="tab_btn tab_btn-active" data-action="click->tabs#reveal" data-tabs-target="btn"><i class="fa-solid fa-eye"></i> Watchlist</button>
      <button id="bookings-btn" class="tab_btn" data-action="click->tabs#reveal" data-tabs-target="btn"><i class="fa-solid fa-ticket"></i> Séances</button>
      <button  id="follows-btn" class="tab_btn" data-action="click->tabs#reveal" data-tabs-target="btn"><i class="fa-solid fa-address-book"></i> Ami(e)s</button>
    </div>
  </div>



  <div class="row">
    <div class="col-10 mx-auto">

      <div data-tabs-target="watchlist" class="watchlist">

        <%= render "interests/watchlist", user: @user, unseen_interests: @unseen_interests, seen_interests: @seen_interests %>
      </div>

      <div  data-tabs-target="follows" class="follows d-none">
        <%= render 'follows' %>
      </div>

      <div data-tabs-target="bookings" class="bookings d-none">
        <%= render "bookings/bookings", bookings: @bookings %>
      </div>

    </div>


  </div>
</div>
