
<div class="banner d-none d-md-block home_info-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), ">
  <div class="container home">
    <h1>Got some films to <%= link_to movies_path do %>
                            <span style="">Catch Up</span>
                          <% end %>on?</h1>
    <%= render 'shared/search_bar' %>
  </div>
</div>
<div class="video-background">
  <div class="video-foreground">
    <iframe src="https://www.youtube.com/embed/watch?v=bHzmODHTURM&?controls=0&showinfo=0&rel=0&autoplay=1&mute=1&loop=1&playlist=bHzmODHTURM" frameborder="0" allowfullscreen allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
  </div>
</div>
