<div class="container">
  <div class="row">
    <div class="col-10">
      <h2><%= user == current_user ? "My Watchlist" : "#{user.username}'s Watchlist" %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-10 mx">
      <div class="seen">
        <h4>To See</h4>
        <% unseen_interests.each do |interest| %>
          <%= render "interests/interest_card", interest: interest %>
        <% end %>
      </div>

      <div class="unseen">
        <h4>Seen</h4>
        <% seen_interests.each do |interest| %>
          <%= render "interests/interest_card", interest: interest %>
        <% end %>
      </div>
    </div>
  </div>
</div>
