<div class="container">
  <div>
    <%= render "interests/watchlist", user: @user, interests: @interests, interest_shows: @interest_shows %>
  </div>


  <% unless @user == current_user %>
    <%= render "follows/form" %>
  <% end %>
</div>
