<div class="container">
  <h1>My Watchlist</h1>
  <div>
    <%= render "watchlist" %>
  </div>


  <% unless @user == current_user %>
    <%= simple_form_for [@user, current_user] do |f| %>
      <%= f.error :follower, class: "text-danger" %>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>

  <% end %>
</div>
