<div class="container">
  <div class="row">

    <div class="col-4 mx-auto">
      <%= render "followers" %>
    </div>

    <div class="col-4 mx-auto">
      <%= render "followeds" %>
    </div>
  </div>
</div>
