/* Tabs */

.disappear {
  opacity: 0;
}

.undo-btn {
  background: none;
  border: none;
}

.tab_btn {
 color: $violet;
 background: $background-main;
 border: solid $background-main 3px;
 height: 100%;
 font-size: 1.3em;
}

.tab_btn-active {
  color: $violet-highlight;
  border-bottom: solid $violet-highlight 3px;
}

.tab_btn:hover {
  color: $violet-highlight;
  border-bottom: solid $violet-highlight 3px;
}

.tab_edit_btn {
  background-color: $background-card;
  border-radius: 30px;
  border: solid transparent 3px;
  color: $violet;
  margin-bottom: 0.5em;
  padding: 0.3em 1.5em !important;
  font-weight: 600;
  letter-spacing: .05em;
  transition: ease-in 200ms;
}

.tab_edit_btn:hover {
  border: solid $violet-highlight 3px;
}

.tab_edit_btn:active {
  border: solid $violet-highlight 3px;
}

.mark-read {
  color: $violet
}


/* follower card */
.follow_btn {
  border: none;
  background: none;
  color: $violet-muted;
  padding: 0.3em 0.4em;
  transition: ease 300ms;

  .fa-circle {
    font-size: 1.7em;
  }
}

.watchlist_btn {
  color: white;
  border: solid;
}

.watchlist_btn:hover {
  color: white;
  background-color: darkred;
  border: solid darkred;
}


/* Bookings */
