/* Tabs */

.tab_btn {
  color: black;
  background-color: white;
  border-radius: $border-radius $border-radius 0 0;
  font-size: 1.25em;
}

.tab_btn-active {
  color:darkred;
  background-color: black;
}

.tab_btn:hover {
  color:darkred;
  background-color: black;
}
