.card-movie{
  display: flex;
  height: 280px;
  background-color: white;
  border-radius: $border-radius;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-bottom: 24px;

  .infos{
    padding-left: 16px;
  }
  .title{
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 2rem;
  }

  .poster{
    border-radius: 5px 0 0 5px;
  }
}


.movies_card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.card-text.text-ellipsis--3{
  text-overflow:ellipsis;
  overflow:hidden;
  // Addition lines for 2 line or multiline ellipsis
  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;
}
