.navbar {
  justify-content: space-between;
  background: #000000;
  color: whitesmoke;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand {
    img {
      width: 40px;
    }
  }

  a {
    color: whitesmoke
  }

  .dropdown-menu {
    background-color: #000000;
    color: whitesmoke
  }
}
